In [406]:
#Importing needed modules .
from pandas import read_csv , DataFrame , concat
from numpy import nan , array
from sklearn.preprocessing import StandardScaler 
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
#Instancing from 'StandardScaler' and 'SimpleImputer' objects .
scaler = StandardScaler()
imputer = SimpleImputer()

In [407]:
#Reading csv file and getting 10 sample of that randomly .
file_path = "D:\\datasets\\water quality\\waterQuality1.csv"
file = read_csv(file_path)
df = file.copy()
df.sample(10)

      aluminium ammonia  arsenic  barium  ...  selenium  silver  uranium  is_safe
5801       0.04   22.75     0.10    0.38  ...      0.07    0.07     0.04        0
2555       0.04    28.9     0.04    1.11  ...      0.01    0.42     0.03        0
6505       0.06    0.32     0.05    0.32  ...      0.02    0.02     0.06        0
4787       0.09   28.27     0.00    0.63  ...      0.05    0.08     0.02        0
7453       0.06    0.37     0.03    3.24  ...      0.04    0.03     0.06        0
7221       0.03     0.9     0.10    0.57  ...      0.05    0.03     0.02        0
4815       0.01   24.42     0.04    0.24  ...      0.04    0.05     0.01        0
2699       0.09    1.74     0.01    2.06  ...      0.00    0.28     0.02        0
6986       0.05   23.58     0.05    0.11  ...      0.05    0.07     0.06        0
4677       0.05     8.9     0.07    0.38  ...      0.04    0.07     0.06        0

[10 rows x 21 columns]

In [408]:
#Getting information from data frame .
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [409]:
#Finding '#NUM!' value in target column and drop them from data frame .
temp = list()
for i in df.to_numpy() :
    if i[-1] == '#NUM!' :
        continue
    temp.append(i)
df = DataFrame(df,columns=df.columns)

In [410]:
#There are some '#NUM!' values in 'ammonia' column , so lets replace them by mean strategy .
ammonia = df.ammonia
#Seperating labels .
lbl = df.is_safe
df = df.drop(['ammonia','is_safe'],axis=1)

In [411]:
new_ammonia = list()
for i in ammonia :
    if i == '#NUM!' :
        new_ammonia.append(nan)
    else :
        new_ammonia.append(float(i))

reshaped_ammonia = array(new_ammonia).reshape(-1,1)
new_ammonia = DataFrame(imputer.fit_transform(reshaped_ammonia),columns=['Ammonia'])

In [412]:
#Attaching imputed 'ammonia' to main datas .
df = concat([df,new_ammonia],axis=1)
df.isnull().sum()

aluminium      0
arsenic        0
barium         0
cadmium        0
chloramine     0
chromium       0
copper         0
flouride       0
bacteria       0
viruses        0
lead           0
nitrates       0
nitrites       0
mercury        0
perchlorate    0
radium         0
selenium       0
silver         0
uranium        0
Ammonia        0
dtype: int64

In [413]:
#Scaling datas .
scaled_df = DataFrame(scaler.fit_transform(df),columns=df.columns)
scaled_df.describe()

          aluminium       arsenic  ...       uranium       Ammonia
count  7.999000e+03  7.999000e+03  ...  7.999000e+03  7.999000e+03
mean  -8.605027e-15  7.377966e-15  ... -1.959060e-16  1.995043e-16
std    1.000063e+00  1.000063e+00  ...  1.000063e+00  1.000063e+00
min   -5.265798e-01 -6.391978e-01  ... -1.660571e+00 -1.617515e+00
25%   -4.949609e-01 -5.204211e-01  ... -9.171387e-01 -8.672370e-01
50%   -4.712467e-01 -4.412366e-01  ...  1.980101e-01 -1.669668e-02
75%   -3.052475e-01 -2.432753e-01  ...  9.414427e-01  8.845381e-01
max    3.465306e+00  3.517989e+00  ...  1.684875e+00  1.753103e+00

[8 rows x 20 columns]

In [414]:
#Seperating datas to train and test sets .
xtr , xts , ytr , yts = train_test_split(scaled_df,lbl,test_size=0.2,random_state=42)

In [415]:
message = 'There are %d samples in train set and %d samples in test set .'%(len(xtr),len(xts))
print(message)

There are 6399 samples in train set and 1600 samples in test set .

In [416]:
#Instancing from 'DecisionTreeClassifier' object and fit it with train data set .
model = DecisionTreeClassifier().fit(xtr,ytr)

In [417]:
#Calculating scores .
model.score(xtr,ytr)*100

100.0

In [418]:
model.score(xts,yts)*100

95.5625

In [419]:
model.score(scaled_df,lbl)*100

99.11238904863107

In [420]:
model = DecisionTreeClassifier().fit(scaled_df,lbl)

In [421]:
model.score(scaled_df,lbl)*100

100.0

In [422]:
model = DecisionTreeClassifier().fit(df,lbl)
model.score(df,lbl)*100

100.0